<!-- Validation failure messages -->
<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event/<%= @event.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_name -->
      <div class="form-group">
        <label for="event_name" class="control-label">
          Event name
        </label>

        <input type="text" id="event_name" name="event_name" placeholder="Event name" class="form-control" value="<%= @event.event_name %>">
      </div>

      <!-- Label and input for event_location -->
      <div class="form-group">
        <label for="event_location" class="control-label">
          Event location
        </label>

        <input type="text" id="event_location" name="event_location" placeholder="Event location" class="form-control" value="<%= @event.event_location %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @event.date %>">
      </div>

      <button class="btn btn-warning">
        Update Event
      </button>
      or
      <a href="/events/<%= @event.id %>">Cancel</a>
    </form>
  </div>
</div>
